/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  position: relative;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.hero-container,
.navbar,
.container-cards {
}

.container {
}

/* navigation */

.logo-name {
  font-size: 2.1rem;
  font-weight: 500;
  margin-left: -2.6rem;
}
.logo-image {
  height: 4.8rem;
  width: 4.8rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  height: 9.6rem;
}
.main-nav {
  display: flex;
  padding-top: 8rem;
  padding-left: 9.6rem;
  background-color: rgba(255, 255, 255, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  /* Hide navigation but allows NO transitions */
  /* display:none */

  /* 1) Hide it visuallly */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keyboard*/
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;
}
.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(12%);
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}
.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}
.main-nav-list {
  line-height: 2.5;
  list-style-type: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: block;
  color: #000;
  font-size: 1.6rem;
  font-weight: 00;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-mobile-nav {
  display: flex;
  border: none;
  background: none;
}
.icon-mobile-nav {
  height: 2.4rem;
  width: 2.4rem;
}
/* HEREO SECTION */
.hero {
}
.container {
}

.hero-text-box {
  padding: 0 3.2rem;
}
.heading-primary {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1px;
  margin-bottom: 2.4rem;
}
.hero-sub-text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 3rem;
}
.hero-image-box {
  padding: 0 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-main-text {
}
.hero-section-span {
}
.heros-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  background-color: rgb(26, 156, 214);
  padding: 1.2rem 2.4rem;
  border-radius: 7px;
  margin-bottom: 4rem;
}

.hero-image {
  width: 100%;
  margin-bottom: 6.4rem;
}

/* reviews section */

.reviews {
}
.reviews-image-container {
}
.reviews-image {
  display: none;
}
.reviews-heading {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3.6rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.2rem;
  margin-bottom: 2.6rem;
}
.card:last-child {
  margin-bottom: 3.6rem;
}
.reviews-main-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.name {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
/* FOOTRER */

.footer {
}

.footer-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
}
.footer-btn {
  font-size: 24px;
  font-weight: 500;
}
.footer-image-right {
}
.footer-image {
  display: none;
  width: 100%;
}
.cta-footer-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 2.6rem;
}
.footers-btn {
  background-color: rgb(26, 156, 214);
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 7px;
  padding: 1.2rem 2.4rem;
}
